@page
@model _211787P_Practical_Assn.Pages.AccessDeniedModel
@{
    Layout = null;
}

<h1 style="align-content=center;">You are already logged in, return to <a style="text-decoration:none;" href="/Login">login page</a></h1>