p::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #04f489, #4B0082);
}


form .button {
    height: 45px;
    margin: 35px 0;
}

    form .button input {
        height: 100%;
        width: 20%;
        border-radius: 5px;
        right: 70%;
        border: none;
        padding-right: 20px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #04f489, #4B0082);
    }

        form .button input:hover {
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #04f489, #4B0082);
        }